networks-distributed/cyber-physical-system/src/cps-chaos-master/src/dashboard/flows.json
[{"id":"b448fb63.9b3b38","type":"tab","label":"CPS Grid & Charging","disabled":false,"info":"CPS System - Grid Balance and Charging Visualization"},{"id":"3b3ee4bc.a85754","type":"tab","label":"CPS Grid & Charging","disabled":false,"info":"CPS System - Grid Balance and Charging Visualization"},{"id":"cbe3c81f.46345","type":"tab","label":"ChargingClusterStats","disabled":false,"info":""},{"id":"773a6468.86cc6c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"64ff3f75.7d53b8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"wind_turbine_group","type":"ui_group","name":"Wind Turbine","tab":"8d5b248b.b32978","order":3,"disp":true,"width":"24","collapse":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7c03f91.8126","type":"ui_group","name":"Chaos Sensor","tab":"8d5b248b.b32978","order":2,"disp":true,"width":"24","collapse":false},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"a10ac9b6.18b898","type":"ui_spacer","name":"spacer","group":"675fff50.e5e07","order":4,"width":24,"height":1},{"id":"3c74f92b.fd01b6","type":"ui_group","name":"Grid Balance & Power","tab":"8d5b248b.b32978","order":4,"disp":true,"width":"24","collapse":false},{"id":"900e0c6b.83718","type":"ui_group","name":"Charging System Status","tab":"8d5b248b.b32978","order":5,"disp":true,"width":"24","collapse":false},{"id":"b9e7eea3.d2b16","type":"ui_group","name":"Storage Control","tab":"8d5b248b.b32978","order":6,"disp":true,"width":"24","collapse":false},{"id":"2f5a7fa3.7eca2","type":"ui_group","name":"Auction Prices","tab":"8d5b248b.b32978","order":7,"disp":true,"width":"24","collapse":false},{"id":"vehicle_tab","type":"ui_tab","name":"Vehicle Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"vehicle_group","type":"ui_group","name":"Vehicle Status","tab":"vehicle_tab","order":1,"disp":true,"width":"24","collapse":false},{"id":"vehicle_status_tab","type":"ui_tab","name":"Vehicle Status","icon":"directions_car","disabled":false,"hidden":false},{"id":"vehicle_status_group","type":"ui_group","name":"Vehicle Status Dashboard","tab":"vehicle_status_tab","order":1,"disp":true,"width":"24","collapse":false},{"id":"energy_metrics_tab","type":"ui_tab","name":"Energy Metrics","icon":"flash_on","disabled":false,"hidden":false},{"id":"energy_overview_group","type":"ui_group","name":"Energy Overview","tab":"energy_metrics_tab","order":1,"disp":true,"width":"24","collapse":false},{"id":"cluster_metrics_group","type":"ui_group","name":"Cluster Metrics Table","tab":"energy_metrics_tab","order":2,"disp":true,"width":"24","collapse":false},{"id":"trends_group","type":"ui_group","name":"Efficiency Trends","tab":"energy_metrics_tab","order":3,"disp":true,"width":"24","collapse":false},{"id":"fa543ae5.852378","type":"mqtt in","z":"3b3ee4bc.a85754","name":"Bucket Status","topic":"bucket/1/status","qos":"2","datatype":"json","broker":"3b931ee9.0688c2","x":230,"y":980,"wires":[["6b984c6e.e50134"]]},{"id":"235c1ac2.ce63ee","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Generation","group":"3c74f92b.fd01b6","order":1,"width":"6","height":"6","gtype":"gage","title":"Wind Generation","label":"kW","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"200","seg2":"600","x":580,"y":40,"wires":[]},{"id":"adb57bf5.a0f578","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Consumption","group":"3c74f92b.fd01b6","order":2,"width":"6","height":"6","gtype":"gage","title":"Total Consumption","label":"kW","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"700","x":580,"y":100,"wires":[]},{"id":"9b69f181.35c58","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Balance %","group":"3c74f92b.fd01b6","order":4,"width":"6","height":"6","gtype":"gage","title":"Balance Ratio","label":"%","format":"{{value | number:1}}","min":"-100","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"-25","seg2":"25","x":580,"y":180,"wires":[]},{"id":"b000ab89.027fd","type":"ui_chart","z":"3b3ee4bc.a85754","name":"Grid Balance Chart","group":"3c74f92b.fd01b6","order":6,"width":"24","height":"8","label":"Grid Balance Over Time (kW)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"x":890,"y":280,"wires":[[]]},{"id":"9d147ace.5aa4b","type":"ui_slider","z":"3b3ee4bc.a85754","name":"Bucket Target","label":"🪣 Storage Target Power","tooltip":"Negative: Charge from grid | Positive: Discharge to grid","group":"b9e7eea3.d2b16","order":1,"width":"16","height":"1","passthru":false,"outs":"end","topic":"bucket_target","topicType":"str","min":"-100","max":"100","step":"5","x":480,"y":880,"wires":[["b281e518.03758"]]},{"id":"b281e518.03758","type":"mqtt out","z":"3b3ee4bc.a85754","name":"Bucket Target","topic":"bucket/1/target","qos":"","retain":"","broker":"3b931ee9.0688c2","x":700,"y":880,"wires":[]},{"id":"6b984c6e.e50134","type":"function","z":"3b3ee4bc.a85754","name":"Process Bucket Data","func":"// Process bucket status (if available)\nvar data = msg.payload;\n\n// Extract bucket data\nvar level = data.current_level || data.level || 0;\nvar capacity = data.capacity || 1000;\nvar power = data.power || 0;\nvar target = data.target || 0;\n\n// Calculate percentage\nvar levelPercentage = capacity > 0 ? (level / capacity) * 100 : 0;\n\n// Create output messages\nvar levelMsg = { payload: level, topic: \"bucket_level\" };\nvar percentageMsg = { payload: levelPercentage, topic: \"bucket_percentage\" };\nvar powerMsg = { payload: power, topic: \"bucket_power\" };\n\nreturn [levelMsg, percentageMsg, powerMsg];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":500,"y":980,"wires":[["45100c0b.a2d7d4"],["170b55c3.6bed6a"],["7b1eb8b0.651228"]]},{"id":"45100c0b.a2d7d4","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Bucket Level","group":"b9e7eea3.d2b16","order":3,"width":"6","height":"6","gtype":"gage","title":"🔋 Energy Level","label":"kWh","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"200","seg2":"600","x":750,"y":940,"wires":[]},{"id":"170b55c3.6bed6a","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Bucket Fill %","group":"b9e7eea3.d2b16","order":4,"width":"6","height":"6","gtype":"gage","title":"📊 Fill Level","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"25","seg2":"75","x":750,"y":980,"wires":[]},{"id":"7b1eb8b0.651228","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Bucket Power","group":"b9e7eea3.d2b16","order":5,"width":"6","height":"6","gtype":"gage","title":"⚡ Storage Power","label":"kW","format":"{{value | number:1}}","min":"-100","max":"100","colors":["#1f77b4","#e6e600","#ff7f0e"],"seg1":"-50","seg2":"50","x":760,"y":1020,"wires":[]},{"id":"83cb00f2.c49bc8","type":"mqtt in","z":"3b3ee4bc.a85754","name":"Grid Balance","topic":"system/grid/balance","qos":"2","datatype":"json","broker":"3b931ee9.0688c2","x":90,"y":140,"wires":[["b104dbdb.79e54"]]},{"id":"b104dbdb.79e54","type":"function","z":"3b3ee4bc.a85754","name":"Process Grid Balance","func":"// Process grid balance data from GridCalculationService\nvar data = msg.payload;\n\n// Extract values\nvar balance = data.balance || 0;\nvar generation = data.total_generation || 0;\nvar consumption = data.total_consumption || 0;\n\n// Calculate balance percentage (relative to generation)\nvar balancePercentage = 0;\nif (generation > 0) {\n    balancePercentage = (balance / generation) * 100;\n}\n\n// Determine grid status and color\nvar status = \"BALANCED\";\nvar color = \"#e6e600\";  // yellow\n\nif (balance > 0) {\n    status = \"SURPLUS\";\n    color = \"#00b500\";  // green\n} else if (balance < 0) {\n    status = \"DEFICIT\";\n    color = \"#ca3838\";  // red\n}\n\n// Create separate messages for each gauge\nvar generationMsg = { payload: generation, topic: \"generation\" };\nvar consumptionMsg = { payload: consumption, topic: \"consumption\" };\nvar balanceMsg = { payload: balance, topic: \"balance\" };\nvar balancePercentMsg = { payload: balancePercentage, topic: \"balance_percent\" };\nvar statusMsg = { payload: status, color: color, topic: \"status\" };\n\nvar chartGenMsg = { payload: generation, topic: \"Generation\" };\nvar chartConsMsg = { payload: consumption, topic: \"Consumption\" };\nvar chartBalMsg = { payload: balance, topic: \"Balance\" };\n\nreturn [generationMsg, consumptionMsg, balanceMsg, balancePercentMsg, statusMsg, \n        chartGenMsg, chartConsMsg, chartBalMsg];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["235c1ac2.ce63ee"],["adb57bf5.a0f578"],[],["9b69f181.35c58"],[],["b000ab89.027fd"],["b000ab89.027fd"],["b000ab89.027fd"]]},{"id":"adf60981.0b007","type":"mqtt in","z":"3b3ee4bc.a85754","name":"Wind Turbine","topic":"windturbine/+/power","qos":"2","datatype":"json","broker":"3b931ee9.0688c2","x":140,"y":40,"wires":[["edfc467b.2b1bb8"]]},{"id":"edfc467b.2b1bb8","type":"function","z":"3b3ee4bc.a85754","name":"Process Wind Data","func":"// Process wind turbine data\nvar data = msg.payload;\n\n// Extract power value\nvar power = data.payload || 0;\n\n// Send to wind turbine gauge in the Wind Turbine group\nmsg.payload = power;\nmsg.topic = \"wind_power\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":40,"wires":[["7e2859bc.2bc648"]]},{"id":"7e2859bc.2bc648","type":"ui_gauge","z":"3b3ee4bc.a85754","name":"Wind Power","group":"wind_turbine_group","order":1,"width":"12","height":"6","gtype":"gage","title":"🌪️ Wind Power Generation","label":"kW","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"200","seg2":"600","x":580,"y":40,"wires":[]},{"id":"48f3c3c.79977bc","type":"mqtt in","z":"cbe3c81f.46345","name":"","topic":"system/charging/status","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":380,"y":260,"wires":[[]]},{"id":"ecfda9f7.c32b4","type":"mqtt in","z":"773a6468.86cc6c","name":"Vehicle Status Input","topic":"vehicle/collected/status","qos":"2","datatype":"json","broker":"3b931ee9.0688c2","x":570,"y":300,"wires":[["29faef9a.f9401"]]},{"id":"29faef9a.f9401","type":"function","z":"773a6468.86cc6c","name":"Process Vehicle Data","func":"// Process vehicle collected status data\nvar data = msg.payload;\n\n// Extract vehicle data\nvar totalVehicles = data.vehicles.total || 0;\nvar charging = data.vehicles.charging || 0;\nvar waiting = data.vehicles.waiting || 0;\nvar inAuction = data.vehicles.in_auction || 0;\nvar avgSoc = data.vehicles.avg_soc || 0;\n\n// Create separate messages for each gauge\nvar totalVehiclesMsg = { payload: totalVehicles, topic: \"total_vehicles\" };\nvar chargingMsg = { payload: charging, topic: \"charging\" };\nvar waitingMsg = { payload: waiting, topic: \"waiting\" };\nvar inAuctionMsg = { payload: inAuction, topic: \"in_auction\" };\nvar avgSocMsg = { payload: avgSoc, topic: \"avg_soc\" };\n\nreturn [totalVehiclesMsg, chargingMsg, waitingMsg, inAuctionMsg, avgSocMsg];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":810,"y":300,"wires":[["311c5020.be0238"],["168bf4cc.41605b"],["77162416.402564"],["fe002248.aa2568"],["7f5e14ac.ea2bf4"]]},{"id":"311c5020.be0238","type":"ui_gauge","z":"773a6468.86cc6c","name":"Total Vehicles Display","group":"vehicle_status_group","order":1,"width":"6","height":"4","gtype":"gage","title":"🚗 Total Vehicles","label":"vehicles","format":"{{value}}","min":0,"max":"500","colors":["#1f77b4","#1f77b4","#1f77b4"],"seg1":"","seg2":"","x":1110,"y":220,"wires":[]},{"id":"168bf4cc.41605b","type":"ui_gauge","z":"773a6468.86cc6c","name":"Charging Vehicles Display","group":"vehicle_status_group","order":2,"width":"6","height":"4","gtype":"gage","title":"🔌 Charging","label":"vehicles","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#00b500"],"seg1":"10","seg2":"30","x":1110,"y":260,"wires":[]},{"id":"77162416.402564","type":"ui_gauge","z":"773a6468.86cc6c","name":"Waiting Vehicles Display","group":"vehicle_status_group","order":3,"width":"6","height":"4","gtype":"gage","title":"⏳ Waiting","label":"vehicles","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"150","x":1110,"y":300,"wires":[]},{"id":"fe002248.aa2568","type":"ui_gauge","z":"773a6468.86cc6c","name":"Auction Vehicles Display","group":"vehicle_status_group","order":4,"width":"6","height":"4","gtype":"gage","title":"🎯 In Auction","label":"vehicles","format":"{{value}}","min":0,"max":"100","colors":["#1f77b4","#e6e600","#ff7f0e"],"seg1":"20","seg2":"60","x":1110,"y":340,"wires":[]},{"id":"7f5e14ac.ea2bf4","type":"ui_gauge","z":"773a6468.86cc6c","name":"Average SOC Display","group":"vehicle_status_group","order":5,"width":"6","height":"4","gtype":"gage","title":"🔋 Average SOC","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"70","x":1110,"y":380,"wires":[]},{"id":"energy_input_node","type":"mqtt in","z":"64ff3f75.7d53b8","name":"Energy Metrics Input2","topic":"energy_metrics/+/stats","qos":"2","datatype":"json","broker":"3b931ee9.0688c2","x":760,"y":500,"wires":[["process_energy_data"]]},{"id":"process_energy_data","type":"function","z":"64ff3f75.7d53b8","name":"Process Energy Data","func":"var topicParts = msg.topic.split('/'); var clusterPart = topicParts[1]; var clusterId = clusterPart.replace('cluster_', ''); var data = msg.payload; var allClusters = global.get('energy_clusters') || {}; allClusters[clusterId] = { cluster_id: clusterId, timestamp: data.timestamp, buffer_utilization: Math.round(data.buffer_utilization * 100 * 10) / 10, buffer_fill_percentage: Math.round(data.buffer_fill_percentage * 10) / 10, net_grid_impact: Math.round(data.net_grid_impact * 10) / 10, peak_shaving_benefit: Math.round(data.peak_shaving_benefit * 10) / 10, energy_from_buffer: Math.round(data.energy_from_buffer * 10) / 10, energy_from_grid_direct: Math.round(data.energy_from_grid_direct * 10) / 10, is_proactive_charging: data.is_proactive_charging, current_buffer_level: Math.round(data.current_buffer_level * 10) / 10 }; global.set('energy_clusters', allClusters); var bufferUtilMsg = { payload: data.buffer_utilization * 100, topic: 'Buffer Efficiency ' + clusterId }; var bufferFillMsg = { payload: data.buffer_fill_percentage, topic: 'Buffer Level ' + clusterId }; var gridImpactMsg = { payload: data.net_grid_impact, topic: 'Grid Impact ' + clusterId }; var peakShavingMsg = { payload: data.peak_shaving_benefit, topic: 'Peak Shaving ' + clusterId }; var totalBufferEnergy = 0; var totalGridEnergy = 0; var totalPeakShaving = 0; var avgBufferFill = 0; var clusterCount = 0; for (var cluster in allClusters) { var c = allClusters[cluster]; totalBufferEnergy += c.energy_from_buffer || 0; totalGridEnergy += c.energy_from_grid_direct || 0; totalPeakShaving += c.peak_shaving_benefit || 0; avgBufferFill += c.buffer_fill_percentage || 0; clusterCount++; } var systemEfficiency = totalBufferEnergy + totalGridEnergy > 0 ? (totalBufferEnergy / (totalBufferEnergy + totalGridEnergy)) * 100 : 0; avgBufferFill = clusterCount > 0 ? avgBufferFill / clusterCount : 0; var systemMsg = { payload: { system_efficiency: Math.round(systemEfficiency * 10) / 10, total_peak_shaving: Math.round(totalPeakShaving * 10) / 10, avg_buffer_fill: Math.round(avgBufferFill * 10) / 10, active_clusters: clusterCount }, topic: 'system_totals' }; var tableMsg = { payload: 'update', topic: 'trigger_table' }; return [bufferUtilMsg, bufferFillMsg, gridImpactMsg, peakShavingMsg, systemMsg, tableMsg];","outputs":6,"x":950,"y":500,"wires":[["buffer_efficiency_chart"],["buffer_level_chart"],["grid_impact_chart"],["peak_shaving_chart"],["system_overview"],["update_table"]]},{"id":"buffer_efficiency_chart","type":"ui_chart","z":"64ff3f75.7d53b8","name":"Buffer Efficiency Trends","group":"trends_group","order":1,"width":"12","height":"6","label":"Buffer Efficiency by Cluster (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":1230,"y":460,"wires":[[]]},{"id":"buffer_level_chart","type":"ui_chart","z":"64ff3f75.7d53b8","name":"Buffer Level Trends","group":"trends_group","order":2,"width":"12","height":"6","label":"Buffer Fill Level by Cluster (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":1230,"y":500,"wires":[[]]},{"id":"grid_impact_chart","type":"ui_chart","z":"64ff3f75.7d53b8","name":"Grid Impact Trends","group":"trends_group","order":3,"width":"12","height":"6","label":"Net Grid Impact by Cluster (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":1230,"y":540,"wires":[[]]},{"id":"peak_shaving_chart","type":"ui_chart","z":"64ff3f75.7d53b8","name":"Peak Shaving Trends","group":"trends_group","order":4,"width":"12","height":"6","label":"Peak Shaving Benefit by Cluster (kWh)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"x":1230,"y":580,"wires":[[]]},{"id":"system_overview","type":"function","z":"64ff3f75.7d53b8","name":"System Overview","func":"var data = msg.payload; var efficiencyMsg = { payload: data.system_efficiency, topic: 'system_efficiency' }; var peakShavingMsg = { payload: data.total_peak_shaving, topic: 'total_peak_shaving' }; var avgBufferMsg = { payload: data.avg_buffer_fill, topic: 'avg_buffer_fill' }; var clusterCountMsg = { payload: data.active_clusters, topic: 'active_clusters' }; return [efficiencyMsg, peakShavingMsg, avgBufferMsg, clusterCountMsg];","outputs":4,"x":1230,"y":640,"wires":[["system_efficiency_gauge"],["total_peak_shaving_gauge"],["avg_buffer_gauge"],["cluster_count_gauge"]]},{"id":"system_efficiency_gauge","type":"ui_gauge","z":"64ff3f75.7d53b8","name":"System Efficiency","group":"energy_overview_group","order":1,"width":"6","height":"4","gtype":"gage","title":"⚡ System Buffer Efficiency","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"20","seg2":"50","x":1510,"y":600,"wires":[]},{"id":"total_peak_shaving_gauge","type":"ui_gauge","z":"64ff3f75.7d53b8","name":"Total Peak Shaving","group":"energy_overview_group","order":2,"width":"6","height":"4","gtype":"gage","title":"🏔️ Total Peak Shaving","label":"kWh","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"100","seg2":"500","x":1510,"y":640,"wires":[]},{"id":"avg_buffer_gauge","type":"ui_gauge","z":"64ff3f75.7d53b8","name":"Average Buffer Fill","group":"energy_overview_group","order":3,"width":"6","height":"4","gtype":"gage","title":"🔋 Avg Buffer Fill","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"70","x":1510,"y":680,"wires":[]},{"id":"cluster_count_gauge","type":"ui_gauge","z":"64ff3f75.7d53b8","name":"Active Clusters","group":"energy_overview_group","order":4,"width":"6","height":"4","gtype":"gage","title":"🏭 Active Clusters","label":"clusters","format":"{{value}}","min":0,"max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"3","seg2":"7","x":1510,"y":720,"wires":[]},{"id":"update_table","type":"function","z":"64ff3f75.7d53b8","name":"Generate Table","func":"var allClusters = global.get('energy_clusters') || {}; var html = '<style> .energy-table { width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 12px; margin: 10px 0; } .energy-table th, .energy-table td { border: 1px solid #ddd; padding: 8px; text-align: center; } .energy-table th { background: linear-gradient(45deg, #667eea, #764ba2); color: white; font-weight: bold; } .energy-table tr:nth-child(even) { background-color: #f9f9f9; } .efficiency-good { background-color: #d4edda !important; color: #155724; } .efficiency-medium { background-color: #fff3cd !important; color: #856404; } .efficiency-poor { background-color: #f8d7da !important; color: #721c24; } .buffer-full { background-color: #d4edda !important; } .buffer-medium { background-color: #fff3cd !important; } .buffer-low { background-color: #f8d7da !important; } .impact-positive { background-color: #d4edda !important; color: #155724; } .impact-negative { background-color: #f8d7da !important; color: #721c24; } .status-active { color: #28a745; font-weight: bold; } .status-inactive { color: #dc3545; } </style> <table class=\"energy-table\"> <thead> <tr> <th>Cluster</th> <th>Buffer Efficiency (%)</th> <th>Buffer Fill (%)</th> <th>Net Grid Impact (kWh)</th> <th>Peak Shaving (kWh)</th> <th>From Buffer (kWh)</th> <th>From Grid (kWh)</th> <th>Proactive Charging</th> <th>Last Update</th> </tr> </thead> <tbody>'; var sortedClusters = Object.keys(allClusters).sort(function(a, b) { var numA = parseInt(a.replace('cluster_', '')); var numB = parseInt(b.replace('cluster_', '')); return numA - numB; }); for (var i = 0; i < sortedClusters.length; i++) { var clusterId = sortedClusters[i]; var cluster = allClusters[clusterId]; var efficiencyClass = ''; if (cluster.buffer_utilization >= 30) efficiencyClass = 'efficiency-good'; else if (cluster.buffer_utilization >= 10) efficiencyClass = 'efficiency-medium'; else efficiencyClass = 'efficiency-poor'; var bufferClass = ''; if (cluster.buffer_fill_percentage >= 70) bufferClass = 'buffer-full'; else if (cluster.buffer_fill_percentage >= 30) bufferClass = 'buffer-medium'; else bufferClass = 'buffer-low'; var impactClass = cluster.net_grid_impact >= 0 ? 'impact-positive' : 'impact-negative'; var impactSymbol = cluster.net_grid_impact >= 0 ? '↑' : '↓'; var proactiveStatus = cluster.is_proactive_charging ? '<span class=\"status-active\">✓ Active</span>' : '<span class=\"status-inactive\">✗ Inactive</span>'; var timestamp = new Date(cluster.timestamp).toLocaleTimeString(); html += '<tr> <td><strong>' + clusterId + '</strong></td> <td class=\"' + efficiencyClass + '\">' + cluster.buffer_utilization + '%</td> <td class=\"' + bufferClass + '\">' + cluster.buffer_fill_percentage + '%</td> <td class=\"' + impactClass + '\">' + impactSymbol + ' ' + Math.abs(cluster.net_grid_impact) + '</td> <td>' + cluster.peak_shaving_benefit + '</td> <td>' + cluster.energy_from_buffer + '</td> <td>' + cluster.energy_from_grid_direct + '</td> <td>' + proactiveStatus + '</td> <td>' + timestamp + '</td> </tr>'; } html += '</tbody> </table> <div style=\"margin-top: 15px; padding: 10px; background: #f8f9fa; border-radius: 5px; font-size: 11px;\"> <strong>Legend:</strong> <span style=\"background: #d4edda; padding: 2px 6px; margin: 0 5px; border-radius: 3px;\">Good Performance</span> <span style=\"background: #fff3cd; padding: 2px 6px; margin: 0 5px; border-radius: 3px;\">Medium Performance</span> <span style=\"background: #f8d7da; padding: 2px 6px; margin: 0 5px; border-radius: 3px;\">Poor Performance</span> </div>'; msg.payload = html; return msg;","outputs":1,"x":1240,"y":720,"wires":[["cluster_table_display"]]},{"id":"cluster_table_display","type":"ui_template","z":"64ff3f75.7d53b8","group":"cluster_metrics_group","name":"Cluster Metrics Table","order":1,"width":"24","height":"12","format":"{{msg.payload}}","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1540,"y":800,"wires":[[]]}]